html {
    font-size: 6px;
    height: 100%;
}
:root {
--dvh: 1dvh;
--safe-top: env(safe-area-inset-top);
--safe-bottom: env(safe-area-inset-bottom);
}

body {
margin: 0;
padding: 0;
min-height: 100vh;
min-height: calc(var(--dvh, 1vh) * 100);
padding-top: var(--safe-top);
padding-bottom: var(--safe-bottom);
overflow: hidden;
}

.content {
height: calc(100% - var(--safe-top) - var(--safe-bottom));
overflow-y: auto;
-webkit-overflow-scrolling: touch;
}


body {
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */


    overflow: hidden;
    flex-direction: column;
    background-color: #202020;
}

.content_main {
    padding: 1.5rem;
}
.head {
    display: flex;
    align-items: center;
    background-color: #363636;
    height: 18rem;
    border-radius: 1.5rem;
   
}
.head li {
    overflow: hidden;
    margin-left: 3rem;
    width: 25.5rem;
    height: 12.2rem;
    /* font-size: 15.5rem; */

    text-align: center;
    line-height: 4.2rem;
    color: #c1c1c1;
    background-color: #3f3f3f;
    border-radius: 1rem;
    
}

.head li:last-child{
    width: 15.5rem;
    overflow: hidden;
    /* margin-left: 1rem; */
    margin-left: auto; /* 让 li 右对齐 */
    margin-right: 3rem;

}
.head li img{
    height: 100%;
    width: 100%;
}

.head li button {
    border: 0;
    width: 25.5rem;
    height: 12.2rem;
    font-size: 5.5rem;
    text-align: center;
    line-height: 4.2rem;
    color: #c1c1c1;
    background-color: #3f3f3f;
}
.head li:last-child button {
    width: 15.5rem;
}

/* 菜单容器 */
.side-menu {
    position: fixed;
    top: 0;
    right: -70%; /* 初始位置在屏幕外 */
    width: 70%;
    height: 100vh;
    transition: transform 0.3s ease-out;
    z-index: 1000;
  }
  
/* 菜单内容样式 */
.menu-content {

    width: 100%;
    height: 100%;
    background: #2d2d2d;
    box-shadow: -2px 0 12px rgba(0,0,0,0.15);
}

/* 激活状态 */
.side-menu.active {
    transform: translateX(-100%); /* 向左移动自身宽度 */
}

/* 遮罩层 */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none; /* 防止点击穿透 */
    z-index: 999;
}

.menu-overlay.active {
    opacity: 1;
    pointer-events: auto;
}





.content {

    margin-top: 1.5rem;
    /* margin-bottom: 1.5rem; */
}
.content_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}
.content .left {

    border-radius: 1.5rem;
    background-color: #2d2d2d;
    flex-grow: 35;
    overflow-y: scroll;
    padding-right: 1rem;
    padding-left: 0.5rem;
}

.content .left::-webkit-scrollbar {
    width: 1.2rem;  /* 滚动条宽度 */
}
.content .left::-webkit-scrollbar-thumb
{
    border-radius:0.3rem;
    background-color:#202020;
}
.content .left::-webkit-scrollbar-track {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content .left li {
    width: fit-content;
    max-width: 85%;
    margin: 1px 2rem;
    margin-top: 6.2rem;
    background-color: #4d4d4d;
    border-radius: 2rem;
    color: #efefef;
    font-size: 8.2rem;
    letter-spacing: 1.2rem;
    line-height: 15rem;
    padding-left: 3.8rem;
    padding-right: 2.8rem;
}
.content .left .player {
    width: fit-content; 
    margin-left: auto; /* 让 li 右对齐 */

    width: fit-content;
    max-width: 85%;
    margin-top: 6.2rem;
    background-color: #4d4d4d;
    border-radius: 2rem;
    color: #efefef;
    font-size: 8.2rem;
    letter-spacing: 1.2rem;
    line-height: 15rem;
    padding-left: 3.8rem;
    padding-right: 2.8rem;
}

.content .left li:last-child{
    margin-bottom: 5rem;
}


.content .right {
    flex-grow: 0;
}
.right {

    display: flex;
    flex-direction: column;

}
.right .right_1 {
    height: 90rem;
    padding-bottom: 0.5rem;
    margin-bottom: 4rem;

}
.right .right_2 {
    height: 180rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.right .right_3 {

    height: 50rem;
    background-color: #464646;
    border-radius: 1rem;
    border: 2rem #464646 solid;
    overflow-y: scroll; 
    
}
.right .right_3::-webkit-scrollbar {
    width: 1.2rem;  /* 滚动条宽度 */
}
.right .right_3::-webkit-scrollbar-thumb
{
    border-radius:0.3rem;
    background-color:#202020;
}
.right .right_3::-webkit-scrollbar-track {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.right .right_3 li {
    margin: 0 auto;
    margin-top: 3.5rem;
    min-height: 14rem;
    width: 90%;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: #2d2d2d;
    border-radius: 2rem;
    color: #bebebe;
    font-size: 8.2rem;
    letter-spacing: 0.2rem;
    line-height: 14rem;
    padding-left: 4.3rem;
    cursor: pointer;

}
.right .right_3 li:last-child{
    margin-bottom: 1.5rem;
}

.right_1 {
    display: flex;

}
.screen {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}
.chart {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.chart li {
    position: relative;
    flex-grow: 1;
    width: 6rem;
}

.chart li div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    width: -1rem;
    height: 95%;
    background-color: #2d2d2d;
    border-radius: 2rem;

}

.chart li div .o2 {
    width: 80%;
    height: 91%;
    background-color: #78a074;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.chart li div .o2::after{
    content: "O2";
    position: absolute;
    bottom: 0;
    font-size: 4.2rem;
    text-align: center;
    color: #c6c6c6;
    height: 4.5rem;
    width: 4rem;
}
.chart li div .h2o {
    width: 80%;
    height: 43%;
    background-color: #6d98a1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.chart li div .h2o::after{
    content: "H2O";
    position: absolute;
    bottom: 0;
    font-size: 4.2rem;
    text-align: center;
    color: #c6c6c6;
    height: 4.5rem;
    width: 7rem;
}
.chart li div .eng {
    width: 80%;
    height: 53%;
    background-color: #a18a54;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.chart li div .eng::after{
    content: "ENG";
    position: absolute;
    bottom: 0;
    font-size: 4.2rem;
    text-align: center;
    color: #c6c6c6;
    height: 4.5rem;
    width: 8rem;
}
.name {
    border-radius: 2.8rem;
    padding-left: 5.3rem;
    height: 10rem;
    line-height: 10rem;
    font-size: 6rem;
    color: #c6c6c6;
    background-color: #454545;
}
.hrm {
    position: relative;
    flex-grow: 6;
    width: 100%;
    height: 75%;
}
#number {
    position: absolute;
    text-align: center;
    right: -0.5rem;
    bottom: -2rem;
    font-size: 40rem;
    inset: 0rem;
    margin: auto;
    width: 90rem;
    height: 90rem;
    line-height: 90rem;
    color: #7c7c7c;
    
}
#ecgCanvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 85rem;
    height: 85rem;
}
.title {
    position: relative;
    flex-grow: 1;
    font-size: 7rem;
    color: #c6c6c6;
    text-align: center;
}

.title:before{
    position: absolute;
    top: 0;
    left: 0;
    content:"";
    width: 5.8rem;
    height: 10rem;
    border-radius: 2.8rem;
    background-color: #444444;
}

.title:after{
    position: absolute;
    top: 0;
    right: 0;
    content:"";
    width: 5.8rem;
    height: 10rem;
    border-radius: 2.8rem;
    background-color: #444444;

}

.right_2 .main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 97%;
    background-color: #454545;
    border-radius: 1rem;
    align-content: flex-start;
}
.right_2 .main>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 34rem;
    margin-top: 7rem;

}
.right_2 .main .hrmb {
    position: relative;
    background-color: #454545;
    border: 0.2rem solid #212121;
    border-radius: 0.8rem;

}

.right_2 .main .hrmb::after{
    content: "HRM";
    position: absolute;
    bottom: -4.2rem;
    color: #c6c6c6;
    width: 15.5rem;
    text-align: center;
    background-color: #454545;
    font-size: 6.3rem;


}
.right_2 .main .eogb{
    position: relative;
    border: 0.2rem solid #212121;
    border-radius: 0.8rem;

}
.right_2 .main .eogb::after{
    content: "EOG";
    position: absolute;
    bottom: -4.2rem;
    color: #c6c6c6;
    width: 15.5rem;
    text-align: center;
    background-color: #454545;
    font-size: 6.3rem;

}

.right_2 .main .ehb{
    position: relative;
    border: 0.2rem solid #212121;
    border-radius: 0.8rem;

}
.right_2 .main .ehb::after{
    content: "EH";
    position: absolute;
    bottom: -4.2rem;
    color: #c6c6c6;
    width: 15.5rem;
    text-align: center;
    background-color: #454545;
    font-size: 6.3rem;

}
.right_2 .main .msgb{
    position: relative;
    width: 63%;
    border-left: 0.2rem solid #212121;
    color: #bdbdbd;
}

.right_2 .main .msgb .msgb_l{
    font-size: 1.8rem;
    left: 1.5rem;
    position: absolute;
}
.right_2 .main .msgb .msgb_l::after{
    content: "";
    position: absolute;
    top: 1rem;
    left: 6rem;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #c66908;

}

.right_2 .main .msgb .msgb_r{
    right: 1rem;
    bottom: 1.5rem;
    position: absolute;
    
}

.right_2 .main .radiob{
    position: relative;
    border: 0.2rem solid #212121;
    border-radius: 0.8rem;
}

.right_2 .main .radiob::after{
    content: "RADIO";
    position: absolute;
    bottom: -4.2rem;
    color: #c6c6c6;
    width: 15.5rem;
    text-align: center;
    background-color: #454545;
    font-size: 6.3rem;

}
.right_2 .main .radio{
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 95.3%;
    height: 28rem;
    border: 0.2rem solid #212121;
    border-radius: 0.8rem;

}

/* --------------------收音机图片------------------------ */
.slider-container {
    /* width: 300rem; */
    position: relative;
    width: 99%;
    height: 20rem;
  
  }
  img{
      width: 100%;
    user-select: none;       /* 禁用文本/图片选择 */
    -webkit-user-drag: none; /* 禁用WebKit内核拖拽幽灵图 */
    pointer-events: none;    /* 禁用鼠标事件 (慎用) */
  }
  
  .slider-track {
    position: relative;
    top: -13.5rem;
    left: 6.8rem;
    width: 100rem;
    height: 0.8rem;
    background: rgba(0, 0, 0, 0);
    border-radius: 0.4rem;
  
  }
  
  .slider-thumb {
    position: relative;
    width: 1.3rem;
    height: 7.8rem;
    background: #d6740b;
    position: absolute;
    top: -0.9rem;
    left: 0;
    cursor: grab;
    transition: transform 0.2s ease;

    touch-action: none; /* 禁用默认触摸行为 */
    user-select: none;  /* 防止文字选中 */
    -webkit-tap-highlight-color: transparent; /* 去除点击高亮 */

  }
  .slider-thumb::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -3.6rem;
    left: -3.6rem;
    border-left: 4.5rem solid transparent;
    border-right: 4.5rem solid transparent;
    border-bottom: 4.5rem solid transparent;
    border-top: 4.9rem solid #d6740b;
  }
  .slider-thumb::after{
    position: absolute;
    content: "";
    width: 7.8rem;
    height: 4.5rem;
    bottom: -2.5rem;
    left: -3.1rem;
    background-color: #646464;
    border-radius: 0.1rem;
  }
  .interval-mark {
    width: 0.2rem;
    height: 1.6rem;
    background: #ff0000;
    position: absolute;
    top: -0.4rem;
  }

  /* ------------------------------------------ */



.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0.8rem;
    width: 85%;
    height: 69%;
    background-color: #2c2c2c;
    border-radius: 3.5rem
}
.labels {
    position: absolute;
    left: 0;
    top: -7.8rem;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 6.4rem;

  }
  .on-label, .off-label {
    color: #666;
    transition: color 0.3s;
  }
  .on-label.active { color: #fff; }  /* ON高亮色 */
  .off-label.active { color: #fff; } /* OFF高亮色 */
  
  /* 滑动轨道 */
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 34rem;
    height: 15.4rem;
  }
  .toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* 滑块 */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212121;
    transition: .4s;
    border-radius: 1rem;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 18.2rem;
    width: 10.2rem;
    left: 0px;
    bottom: -1.4rem;
    background-color: #656565;
    transition: .4s;
    border-radius: 0.5rem;
  }
  
  /* 开关激活状态 */
  .toggle-input:checked + .slider {
    background-color: #464646;
  }
  .toggle-input:checked + .slider:before {
    transform: translateX(25rem);
  }

  .bg.disabled {
    pointer-events: none; 
  }


   /* 弹窗样式 */
   .modal {
    display: none; /* 默认隐藏 */
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background: #656565;
    z-index: 1000;
    width: 65%;
    height: 25%;
    overflow: auto;
}
.modal::-webkit-scrollbar {
    width: 1.2rem;  /* 滚动条宽度 */
}
.modal::-webkit-scrollbar-thumb
{
    border-radius:0.3rem;
    background-color:#303030;
}
.modal::-webkit-scrollbar-track {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.modal button{
    margin-top: 10rem;
    border: 0;
    background: #ffffff;
    border-radius: 0.5rem;
    height: 14rem;
    width: 54rem;
    font-size: 7rem;
}

/* 遮罩层 */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* 关闭按钮 */
.close-btn {
    position: absolute;
    top: -3rem;
    right: 3rem;
    cursor: pointer;
    font-size: 15rem;
}

/* 等待动画 */
.loader {
    display: none;
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 14rem auto;
    border: 0.1rem solid #b2b0b2;
    border-radius: 50%;
    touch-action: manipulation; /* 禁用双击缩放 */
}

.rotator {
    width: 100%;
    height: 100%;
    animation: rotate 2s linear infinite;
}

.ball {
    position: absolute;
    top: -0.7rem; /* 调整小球到边框外侧 */
    left: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: #b2b0b2;
    border-radius: 50%;
    transform: translateX(-50%);
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); } 
    80% { transform: rotate(360deg); } 
    100% { transform: rotate(360deg); } 
}
.loader-img{
    position: absolute;
    top: 3.3rem;
    left: 3.6rem;
    width: 13.5rem;
    height: 13.5rem;
    border-radius: 50%;
    overflow: hidden;
}

#aliyaText img {
    pointer-events: auto;
    width: 75%;
    border-radius: 1.5rem;
    flex-grow: 35;
    overflow-y: scroll;
    padding-right: 1rem;
    padding-left: 0.5rem;
}